.header-container {
    width: 100%;
    font-variant: small-caps;
    
    a {
        text-decoration: none;
    }

    h1 {
        font-size: 3rem;
        letter-spacing: 5px;
        margin: 2vh;
        font-family: 'Press Start 2P', cursive;
        color: white;
        text-shadow: 2px 2px #222222;

        &:hover {
            color: black;
            text-shadow: 2px 2px white;
        }
    }
}

@media (max-width: 500px) {
    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}