@import './global.scss';

.result-container {
    @include flexMiddle();
    margin: 2vh 2vh 2vh 2vh;
    width: 100%;
    background-color: white;

    .result-inner-container {
        @include flexMiddle();
        flex-direction: column;
        width: 100%;
        background-color: #E6E6FA;
        padding: 2vh;

        .result-content-outer-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        .result-copy-btn {
            color: #222222;
            box-shadow: 5px 5px #222222;
            border-radius: 0px;
            margin-left: 4vh;
            padding: 18px 36px;
            cursor: pointer;
            background-color: white;
            transition: 0.2s ease;
            font-family: 'Rubik', sans-serif;
            font-variant: small-caps;

            &:hover {
                background-color: #E6E6FA;
            }

            &:active {
                box-shadow: 2px 2px #222222;
                background-color: #d6d6f9;
            }
        }
    }
}


@media (max-width: 1200px) {
    .result-content-outer-container {
        flex-direction: column !important;

        h2 {
            font-size: 0.9rem;
        }

        .result-copy-btn {
            margin: 0 !important;
        }
    }
}