@import './global.scss';

.submit-container {
    @include flexMiddle();
    flex-direction: column;
    width: 50%;
    height: 100%;

    .submit-inner-container {
        width: 100%;
        @include flexMiddle();
        .submit-input-field {
            width: 100%;
        }
    }

    .result-container {
        margin: 5vh;
        width: 100%;
    }
}


