@import './global.scss';

.submit-container {
    @include flexMiddle();
    flex-direction: column;
    width: 50%;
    height: 100%;

    .submit-inner-container {
        width: 100%;
        @include flexMiddle();
        .submit-input-field {
            width: 60%;
            padding: 2vh;
            font-size: 1.5rem;
            transition: 0.5s ease;
            box-shadow: 10px 10px #222222;
            font-family: 'Rubik', sans-serif;
            margin-bottom: 1vh;

            &:focus {
                outline: none;
                width: 100%;
            }

            &:hover {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1200px) {
	.submit-container {
        width: 90%;

        .submit-inner-container {
            width: 100%;

            .submit-input-field {
                font-size: 1.2rem;
                text-align: center;
                width: 100%;
            }
        }
    }
}